<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_kuang_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,232},{400,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,388}}</string>
                <key>sourceSize</key>
                <string>{400,388}</string>
            </dict>
            <key>bg_kuang_game_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,232},{400,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,323}}</string>
                <key>sourceSize</key>
                <string>{400,323}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>btn_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,133},{215,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,79}}</string>
                <key>sourceSize</key>
                <string>{215,79}</string>
            </dict>
            <key>btn_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,133},{215,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,79}}</string>
                <key>sourceSize</key>
                <string>{215,79}</string>
            </dict>
            <key>btn_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>btn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>btn_phonecall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,64},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>btn_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>btn_share_ryfriend_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,133},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_share_ryfriend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,133},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,133},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wechat_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,133},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wxcircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,133},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wxcircle_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,133},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_voice_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,133},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn_voice_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,133},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>chag_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1},{411,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,59}}</string>
                <key>sourceSize</key>
                <string>{411,59}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,621},{668,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,446}}</string>
                <key>sourceSize</key>
                <string>{668,446}</string>
            </dict>
            <key>chat_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,133},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>chat_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,133},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>chat_his.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,232},{595,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,252}}</string>
                <key>sourceSize</key>
                <string>{595,252}</string>
            </dict>
            <key>chat_item_framebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1},{595,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,60}}</string>
                <key>sourceSize</key>
                <string>{595,60}</string>
            </dict>
            <key>chat_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,64},{235,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,65}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>chat_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,64},{235,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,65}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>chat_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1},{155,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,57}}</string>
                <key>sourceSize</key>
                <string>{155,57}</string>
            </dict>
            <key>chat_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1},{155,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,57}}</string>
                <key>sourceSize</key>
                <string>{155,57}</string>
            </dict>
            <key>chat_texts_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,64},{235,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,65}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>chat_texts_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,64},{235,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,65}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>icon_public_game_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,232},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>icon_public_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,232},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>icon_public_room_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,133},{121,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,82}}</string>
                <key>sourceSize</key>
                <string>{121,82}</string>
            </dict>
            <key>p_bt_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,64},{192,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>p_bt_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,64},{192,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>p_bt_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>p_bt_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>p_bt_sure_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,64},{192,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>p_bt_sure_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,133},{192,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>player_vip_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,232},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>pub_btn_introduce_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,133},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>pub_btn_introduce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,133},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>pub_btn_introduce_c_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,133},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>pub_btn_introduce_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,133},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>pub_btn_introduce_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1},{200,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,54}}</string>
                <key>sourceSize</key>
                <string>{200,54}</string>
            </dict>
            <key>pub_sp_introduce_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,621},{958,655}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{958,655}}</string>
                <key>sourceSize</key>
                <string>{958,655}</string>
            </dict>
            <key>record_chat_begin_ani_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,64},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>record_chat_begin_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,64},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>record_play_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>record_play_ani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,1},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>record_play_ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>record_volum_aini_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,64},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,64},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,64},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,64},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,64},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,64},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,64},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,64},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,64},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,64},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>sp_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{1965,1277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1603230076c18f129a86e5f14143df01:b896a6d256335ccd477ea070afd73218:063f20810f63c58bcc5b88a4f1a41587$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
